<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Item</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>

<body>
<button>Login/Logout</button>
<button>Register</button>
<br /><br />
<h1>Collected</h1>
<br /><br />

<h3>Add Item</h3>

<form>
  <div
          style="border: 1px solid lightsteelblue; background-color: lightsteelblue; padding:15px;border-radius: 25px;">
    <label>Name:</label>
    <input type="text" style="border: 1px solid black;"><br />

    <label>Item Type:</label>
    <select style="border:1px solid black;">
      <option value="">Standard Edition</option>
      <option value="">Collectors Edition</option>
      <option value="">Day One Edition</option>
      <option value="">Other</option>
    </select>


    <label>Item Description:</label>
    <textarea style="border: 1px solid black;" cols="70"></textarea>

    <label>Release Date:</label>
    <input style="border: 1px solid black;" type="date"><br />

    <label>Rating:</label>
    <input type="number" min="1" max="10" style="border: 1px solid black;"><br />
  </div>

  <br /><br />

  <button>Save</button>
  <button>Cancel</button>
</form>
</body>

</html>