<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add List</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>

<body>
<button>Login/Logout</button>
<button>Register</button>
<br /><br />
<h1>Collected</h1>
<br /><br />

<h3>Add List</h3>

<form>
  <div
          style="border: 1px solid lightsteelblue; background-color: lightsteelblue; padding:15px;border-radius: 25px;">
    <label>Name:</label>
    <input type="text" style="border: 1px solid black;"><br />

    <label>List Type:</label>
    <select style="border:1px solid black;">
      <option value="">Collection</option>
      <option value="">WishList</option>
    </select>

    <label>Sort Preference:</label>
    <select style="border:1px solid black;">
      <option value="">Name</option>
      <option value="">Name Reversed</option>
      <option value="">Release Date</option>
      <option value="">Release Date Reversed</option>
      <option value="">Rating</option>
      <option value="">Rating Reversed</option>
    </select>
  </div>

  <br /><br />

  <button>Save</button>
  <button>Cancel</button>
</form>
</body>

</html>