<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>

<div style="border:1px solid black; display: inline-block;padding: 15px; border-radius: 25px;">
    <label style="padding-right: 15px;" v-model="projectname">Name</label>
    <button>Add</button>
    <button>Edit</button>
    <button>Delete</button>
    <button>View</button>
</div>


<div style="border:1px solid black; display: inline-block;padding: 15px; border-radius: 25px;">
    <label style="padding-right: 15px;" v-model="projectname">Name</label>
    <button>Add</button>
    <button>Edit</button>
    <button>Delete</button>
    <button>View</button>
</div>

<div style="border:1px solid black; display: inline-block;padding: 15px; border-radius: 25px;">
    <label style="padding-right: 15px;" v-model="projectname">Name</label>
    <button>Add</button>
    <button>Edit</button>
    <button>Delete</button>
    <button>View</button>
</div>


<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</body>
</html>